In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv')

In [3]:
age = df.age[1] + df.age[2] + df.age[3]
print(age)

141

# making a panda series for race and total number of individuals

In [4]:
race_df = pd.DataFrame()
print(race_df)

Empty DataFrame
Columns: []
Index: []

In [5]:
race_df = df['race'].value_counts().reset_index(name='total')
race_df

                 race  total
0               White  27816
1               Black   3124
2  Asian-Pac-Islander   1039
3  Amer-Indian-Eskimo    311
4               Other    271

In [6]:
print(race_df)

                 race  total
0               White  27816
1               Black   3124
2  Asian-Pac-Islander   1039
3  Amer-Indian-Eskimo    311
4               Other    271

# geting the average age of men

In [7]:
(df[df['sex']=='Male']['age'].sum()/df[df['sex']=='Male']['age'].count()).round(decimals=1)

np.float64(39.4)

# percentage of people who have a Bachelor's degree

In [8]:
degree_df = df['education'].value_counts().reset_index(name='sum').rename(columns={'index': 'education'})
Bachelors = degree_df[degree_df['education'] == 'Bachelors']['sum'].values[0]
total = degree_df['sum'].sum()
total

np.int64(32561)

In [9]:
percet = (Bachelors*100)/total 
percet.round(decimals=1)

np.float64(16.4)

# percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K

In [10]:
rich=df[((df['education']=='Bachelors')|(df['education']=='Masters')|(df['education']=='Doctorate')) & (df['salary']== '>50K')].count()['salary']
poor= df[((df['education']=='Bachelors')|(df['education']=='Masters')|(df['education']=='Doctorate')) & (df['salary']== '<=50K')].count()['salary']
percent = (rich*100)/(rich+poor)
percent.round(decimals=1)

np.float64(46.5)

# percentage of people without advanced education make more than 50K

In [11]:
rich=df[((df['education']!='Bachelors')&(df['education']!='Masters')&(df['education']!='Doctorate')) & (df['salary']== '>50K')].count()['salary']
poor= df[((df['education']!='Bachelors')&(df['education']!='Masters')&(df['education']!='Doctorate')) & (df['salary']== '<=50K')].count()['salary']
percent = (rich*100)/(rich+poor)
percent.round(decimals=1)

np.float64(17.4)

# minimum number of hours a person works per week

In [12]:
df['hours-per-week'].min()

np.int64(1)

# percentage of the people who work the minimum number of hours per week have a salary of more than 50K

In [13]:
rich = df[(df['hours-per-week']==df['hours-per-week'].min()) & (df['salary']=='>50K')]
poor = df[(df['hours-per-week']==df['hours-per-week'].min()) & (df['salary']=='<=50K')]
(rich.count()['salary']*100)/(rich.count()['salary']+poor.count()['salary'])

np.float64(10.0)

# country has the highest percentage of people that earn >50K and what is that percentage

In [14]:
# Create a rich table
rich = df.groupby(['native-country', 'salary']).size().unstack(fill_value=0)

# Calculate percentage earning >50K
rich['>50K_pct'] = (rich['>50K'] / (rich['>50K'] + rich['<=50K'])) * 100

print(rich['>50K_pct'].max())
print(rich['>50K_pct'].idxmax())

41.86046511627907
Iran

In [15]:
india_rich = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]

top_occupation = india_rich['occupation'].value_counts().idxmax()
top_occupation

'Prof-specialty'